@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #030303;
  --card: #ffffff;
  --card-foreground: #030303;
  --popover: #ffffff;
  --popover-foreground: #030303;
  --primary: #9543c6;
  --primary-foreground: #ffffff;
  --secondary: #f5f5f5;
  --secondary-foreground: #0b0b0b;
  --muted: #f5f5f5;
  --muted-foreground: #3a3a3a;
  --accent: #f5f5f5;
  --accent-foreground: #171717;
  --destructive: #e40016;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #a1a1a1;
  --chart-1: #d4d4d4;
  --chart-2: #737373;
  --chart-3: #525252;
  --chart-4: #404040;
  --chart-5: #262626;
  --sidebar: #fafafa;
  --sidebar-foreground: #0a0a0a;
  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a1a1a1;
  --radius: 0.625rem;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --card: #171717;
  --card-foreground: #ffffff;
  --popover: #171717;
  --popover-foreground: #ffffff;
  --primary: #bd50fd;
  --primary-foreground: #ffffff;
  --secondary: #262626;
  --secondary-foreground: #ffffff;
  --muted: #262626;
  --muted-foreground: #cecece;
  --accent: #262626;
  --accent-foreground: #ffffff;
  --destructive: #ff6568;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #737373;
  --chart-1: #d4d4d4;
  --chart-2: #737373;
  --chart-3: #525252;
  --chart-4: #404040;
  --chart-5: #262626;
  --sidebar: #171717;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #1447e6;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #737373;
}
@theme {
  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.glass-panel {
  @apply bg-card/70 backdrop-blur-xl border border-border shadow-xl;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
